<!doctype html>
<html>
  <head>
    <script src="angularjs/1.8.2/angular.js"></script>
  </head>
  <body ng-app="intervalBasic" class="ng-scope">
  <script>
  angular.module('intervalBasic', [])
    .controller('DirectionController', ['$scope',
      function($scope) {
	  
		$scope.direction = {
			latitude: -6.2108550000000005,
			longitude: 106.81861805
		};
	  
      }])
    // Register the 'myCurrentTime' directive factory method.
    // We inject $interval and dateFilter service since the factory method is DI.
    .directive('direction', ['$interval',
      function($interval) {
        // return the directive link function. (compile function not needed)
        return function(scope, element, attrs) {
		
			var stopTime, // so that we can cancel the time updates
			stop;
			
			var direction = scope.direction;
			direction.time = (new Date()).setHours(0, 0, 0);
			direction.keys = Object.keys(direction);
			
			updateDirection();
			
			scope.fight = function() {
				stopTime = $interval(updateDirection, 5000);
			};

			scope.stopFight = function() {
				$interval.cancel(stopTime);
			};

			scope.resetFight = function() {
				direction = scope.direction;
				direction.time = (new Date()).setHours(0, 0, 0);
				direction.keys = Object.keys(direction);
				
				updateDirection();
				$interval.cancel(stopTime);
			};
		  
			function updateDirection() {
				scope.$watch(attrs.direction, function(value) {
					direction[direction.keys[Math.floor(Math.random() * 2)]] += value;
					direction.time = (new Date(direction.time)).setSeconds((new Date(direction.time)).getSeconds() + 5);
					
					element.children().eq(element.children().length - 1).remove();
						
					element.append('<iframe id="map" width="100%" height="500" frameborder="0" scrolling="no" src="https://maps.google.com/maps?q=' + direction.latitude + ',' + direction.longitude + '&hl=id&z=14&amp;output=embed"></iframe>');
					
					element.children().eq(5).text('Time: ' + ('0' + (new Date(direction.time)).getHours()).slice(-2) + ':' + ('0' + (new Date(direction.time)).getMinutes()).slice(-2) + ':' + ('0' + (new Date(direction.time)).getSeconds()).slice(-2));
					element.children().eq(6).text('Latitude: ' + direction.latitude);
					element.children().eq(7).text('Longitude: ' + direction.longitude);
					element.children().eq(8).text('Kecepatan: 111 m/s');
				})
			}
        }
      }]);
  </script>

  <div ng-controller="DirectionController" class="ng-scope">
    <div direction="0.001">
	  <button type="button" data-ng-click="fight()">Start</button>
      <button type="button" data-ng-click="stopFight()">Stop</button>
    <button type="button" data-ng-click="resetFight()">Reset</button>
	<br><br>
	<span style="display: block"></span>
	<span style="display: block"></span>
	<span style="display: block"></span>
	<span></span>
	<br><br>
	<br><br>
    </div>
  </div>

</body>
</html>