<!doctype html>
<html>
  <head>
    <script src="angularjs/1.8.2/angular.js"></script>
  </head>
	
	<!--script>
		$scope.src = 'https://maps.google.com/maps?q=0,0&hl=es&z=14&amp;output=embed';
	</script-->
	
  <body ng-app="intervalBasic" class="ng-scope">
  <script>
  angular.module('intervalBasic', [])
    .controller('DirectionController', ['$scope',
      function($scope) {
	  
		$scope.direction = {
			latitude: -6.2108550000000005,
			longitude: 106.81861805
		};
	  
      }])
    // Register the 'myCurrentTime' directive factory method.
    // We inject $interval and dateFilter service since the factory method is DI.
    .directive('direction', ['$interval',
      function($interval) {
        // return the directive link function. (compile function not needed)
        return function(scope, element, attrs) {
		
			var stopTime, // so that we can cancel the time updates
			stop;
			
			var latitude = scope.direction.latitude;
			var longitude = scope.direction.longitude;
			
			updateDirection();
			
			scope.fight = function() {
				stopTime = $interval(updateDirection, 5000);
			};

			scope.stopFight = function() {
				$interval.cancel(stopTime);
			};

			scope.resetFight = function() {
				latitude = scope.direction.latitude;
				longitude = scope.direction.longitude;
				
				updateDirection();
				$interval.cancel(stopTime);
			};
		  
			function updateDirection() {
				scope.$watch(attrs.direction, function(value) {
					latitude += value;
						
					element.children().eq(element.children().length - 1).remove();
						
					element.append('<iframe id="map" width="100%" height="500" frameborder="0" scrolling="no" src="https://maps.google.com/maps?q=' + latitude + ',' + longitude + '&hl=id&z=14&amp;output=embed"></iframe>');
					
					element.children().eq(5).text('Latitude: ' + latitude);
					element.children().eq(6).text('Longitude: ' + longitude);
				})
			}
        }
      }]);
</script>

<div ng-controller="DirectionController" class="ng-scope">
  <div direction="0.001">
	<button type="button" data-ng-click="fight()">Start</button>
    <button type="button" data-ng-click="stopFight()">Stop</button>
    <button type="button" data-ng-click="resetFight()">Reset</button>
	<br><br>
	<span style="display: block"></span>
	<span></span>
	<br><br>
	<br><br>
  </div>
</div>

</body>
</html>